.content {
    width: 100vw;
    margin-top: 65px;
    margin-bottom: 50px;

    &-me {
        width: 96vw;
        margin: 0 auto;
        line-height: 1.55;     

        @media (min-width: 700px) {
            width: 75vw;
        }

        &-links {
            &-item {
                margin-top: 15px;
                height: 24px;
                position: relative;

                a {
                    height: 24px;
                    position: absolute;
                    margin-left: 5px;
                    font-size: 1.6rem;
                    color: rgba(255, 107, 129,1.0);
                }
            }
        }
    }
    
    &-projects {
        width: 96vw;
        margin: 0 auto;
        line-height: 1.55;

        @media (min-width: 700px) {
            width: 75vw;
        }

        p {
            margin-top: 30px;
        }

        strong {
            font-weight: bolder;
        }

        ul {
            margin-top: 15px;
            padding-left: 30px;

            li {
                color: #2c3e50;
                font-size: 1.9rem;
            }
        }

        a {
            color: rgba(255, 107, 129,1.0);
        }

        h2, h3, h4 {
            margin-top: 30px;
            font-weight: bolder;
        }

        h2 {
            font-size: 2.9rem;
            color: #2c3e50;
        }

        h3 {
            font-size: 2.4rem;
            color: #2c3e50;
        }

        img {
            max-width: 70%;
            display: block;
            margin: 0 auto;
        }
    }
}